.card {
  display: flex;
  justify-content: center;
  width: 17rem;
  flex-wrap: wrap;
  background-size: contain;
  background-repeat: no-repeat;
  color: #ccc;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: -5px 5px 3px #000;
  background-color: #222;
  border: 1px solid #000;
  transition: 1s;
}

.card .name {
  color: #fff;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000, 1px 1px #000,
    -1px -1px #000, 1px -1px #000, -1px 1px #000;
  margin-top: 0.5rem;
}

.card img {
  display: block;
  position: sticky;
  right: 0%;
  width: 15rem;
  filter: drop-shadow(-5px 5px 0px #000);
  filter: saturate(200%);
}
