div .icon {
  margin: 0 1rem 0.5rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  margin: 0;
  box-shadow: 0 5px 0 #000;
  border: 1px solid #000;
  transition: 200ms all;
}

.icon.types {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/8a338ef9-a14e-4c93-989b-b510d7b9bad7/dedsu40-c80a23d1-3179-4a89-8f1f-a1599b806335.png/v1/fill/w_1030,h_500,strp/pokemon_type_icons___vector_by_lugia_sea_dedsu40-fullview.png);
  background-size: 780%;
}

.detail-icon {
  /* background-color: #333; */
  margin: 0px;
  padding: 0;
  width: 5rem;
  height: 5rem;
}

.icon:hover {
  filter: saturate(200%);
  cursor: pointer;
  top: 4px;
  padding-bottom: 0px;
  box-shadow: 0 1px 0 #000;
}

div.icon img {
  position: relative;
  filter: invert(100%);
  width: 3rem;
  top: 1rem;
  left: 1rem;
}

.icon.bug {
  background-color: #92bc2c;
  background-position-y: 50%;
  background-position-x: 0.5%;
}

.icon.dark {
  background-position-y: 99%;
  background-position-x: 80%;
  background-color: #595761;
}

.icon.dragon {
  background-position-y: 99%;
  background-position-x: 60%;
  background-color: #0c69c8;
}

.icon.electric {
  background-position-y: 99.5%;
  background-position-x: 0.5%;
  background-color: #f2d94e;
}

.icon.fire {
  background-position-y: 50%;
  background-position-x: 60%;
  background-color: #fba54c;
}

.icon.fairy {
  background-position-y: 99%;
  background-position-x: 99.5%;
  background-color: #ee90e6;
}

.icon.fighting {
  background-position-y: 1%;
  background-position-x: 20.5%;
  background-color: #d3425f;
}

.icon.flying {
  background-color: #a1bbec;
  background-position-y: 0.5%;
  background-position-x: 40%;
}

.icon.ghost {
  background-position-y: 50%;
  background-position-x: 20%;
  background-color: #5f6dbc;
}

.icon.grass {
  background-position-y: 50%;
  background-position-x: 99.5%;
  background-color: #5fbd58;
}

.icon.ground {
  background-position-y: 0.5%;
  background-position-x: 80%;
  background-color: #da7c4d;
}

.icon.ice {
  background-position-y: 99.5%;
  background-position-x: 40%;
  background-color: #75d0c1;
}

.icon.normal {
  background-position-y: 1%;
  background-position-x: 0.5%;
  background-color: #a0a29f;
}

.icon.poison {
  background-position-y: 0.5%;
  background-position-x: 60%;
  background-color: #b763cf;
}

.icon.psychic {
  background-position-y: 99%;
  background-position-x: 20.5%;
  background-color: #fa8581;
}

.icon.rock {
  background-position-y: 1%;
  background-position-x: 99.5%;
  background-color: #c9bb8a;
}

.icon.steel {
  background-position-y: 50%;
  background-position-x: 40%;
  background-color: #5695a3;
}

.icon.shadow {
  background-image: url(https://cdn-icons-png.flaticon.com/512/828/828726.png);
  background-size: 120%;
  background-position: center;
  background-color: #fff;
}

.icon.shadow:hover {
  background-color: #fff;
}

.icon.unknown {
  background-image: url(https://img.icons8.com/flat-round/512/question-mark.png);
  background-color: #25b7d3;
  background-size: 100%;
}

.icon.water {
  background-position-y: 50%;
  background-position-x: 80%;
  background-color: #539ddf;
}

.bug:hover {
  background-color: #aaff00;
  box-shadow: 0 0 50px #aaff00;
}

.dark:hover {
  background-color: #595761;
  box-shadow: 0 0 50px #595761;
}

.dragon:hover {
  background-color: #0c69c8;
  box-shadow: 0 0 50px #0c69c8;
}

.electric:hover {
  background-color: #f2d94e;
  box-shadow: 0 0 50px #f2d94e;
}

.fire:hover {
  background-color: #ff9800;
  box-shadow: 0 0 50px #fd9800;
}

.fairy:hover {
  background-color: #ee90e6;
  box-shadow: 0 0 50px #ee90e6;
}

.fighting:hover {
  background-color: #d3425f;
  box-shadow: 0 0 50px #d3425f;
}

.flying:hover {
  background-color: #98beff;
  box-shadow: 0 0 50px #98beff;
}

.ghost:hover {
  background-color: #5f6dbc;
  box-shadow: 0 0 50px #5f6dbc;
}

.grass:hover {
  background-color: #42e257;
  box-shadow: 0 0 50px #42e257;
}

.ground:hover {
  background-color: #da7c4d;
  box-shadow: 0 0 50px #da7c4d;
}

.ice:hover {
  background-color: #75d0c1;
  box-shadow: 0 0 50px #75d0c1;
}

.normal:hover {
  background-color: #a0a29f;
  box-shadow: 0 0 50px #a0a29f;
}

.poison:hover {
  background-color: #b763cf;
  box-shadow: 0 0 50px #b763cf;
}

.psychic:hover {
  background-color: #fa8581;
  box-shadow: 0 0 50px #fa8581;
}

.rock:hover {
  background-color: #c9bb8a;
  box-shadow: 0 0 50px #c9bb8a;
}

.shadow:hover {
  background-color: #000;
  box-shadow: 0 0 50px #000;
}

.steel:hover {
  background-color: #5695a3;
  box-shadow: 0 0 50px #5695a3;
}

.unknown:hover {
  background-color: #25b7d3;
  box-shadow: 0 0 50px #25b7d3;
}

.water:hover {
  background-color: #539ddf;
  box-shadow: 0 0 50px #539ddf;
}

.pokemon-id:hover {
  background-color: #fd5555;
  box-shadow: 0 0 50px #fd5555;
}

.pokemon-weight:hover {
  background-color: #7270fd;
  box-shadow: 0 0 50px #7270fd;
}

.pokemon-height:hover {
  background-color: #faa92e;
  box-shadow: 0 0 50px #faa92e;
}

.pokemon-attack:hover {
  background-color: #c53dd1;
  box-shadow: 0 0 50px #c53dd1;
}

.pokemon-defense:hover {
  background-color: #55b343;
  box-shadow: 0 0 50px #55b343;
}

.pokemon-speed:hover {
  background-color: #37c4d6;
  box-shadow: 0 0 50px #37c4d6;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000, 1px 1px #000,
    -1px -1px #000, 1px -1px #000, -1px 1px #000;

  /* Position the tooltip */
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  z-index: 1;
}

.tooltip .tooltiptext-right {
  bottom: 0;
  top: 0;
  margin-left: 0;
  left: 20%;
}

.tooltip .tooltiptext-left {
  bottom: 0;
  top: 0;
  margin-right: 0;
  left: -115%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
