* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.home {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.filters {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}

.filters div {
  margin: 5px;
  /* padding: 5px; */
  border-radius: 5px;
}

.filters div input,
.filters div button,
.filters div select {
  display: inline;
  flex-wrap: wrap;
  height: 40px;
  background-color: #ccc;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: 0 5px 0 #000;
  top: -2px;
  position: relative;
  /* text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000, 1px 1px #000,
    -1px -1px #000, 1px -1px #000, -1px 1px #000; */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
}

.filters div input:hover,
.filters div button:hover,
.filters div select:hover {
  background-color: #fff;
}

.filters div button:active {
  background-color: #38bf4b;
  color: #fff;
  box-shadow: 0 0 25px #38bf4b;
  transform: translateY(4px);
}

.filters div input:focus,
.filters div select:focus {
  border: 1px solid #000;
  transform: translateY(4px);
  background-color: #ff5470;
  box-shadow: 0 0 25px #ff5470;
  outline: none;
}

.wrapper {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 100px;
  flex-wrap: wrap;
  justify-content: center;
}

.pokeball {
  width: 60px;
  height: 60px;
  color: #000;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid;
  animation: frames 0.8s linear 0s infinite;
}

.pokeball:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 30px;
  background-color: red;
  border-bottom: 4px solid;
  top: -4px;
}

.pokeball:before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 10px;
  height: 10px;
  border: 4px solid;
  border-radius: 50%;
  bottom: 18px;
  right: 18px;
  z-index: 1;
}

/* AnimationFrames */
@keyframes frames {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

span.loadingText {
  margin-top: 1rem;
  animation: text 3s ease-in-out infinite;
}

@keyframes text {
  50% {
    color: transparent;
  }
}
