.card {
  display: flex;
  justify-content: center;
  width: 17rem;
  flex-wrap: wrap;
  background-size: contain;
  background-repeat: no-repeat;
  color: #ccc;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: -5px 5px 3px #000;
  background-color: #222;
  border: 1px solid #000;
  transition: 1s;
}

.card .name {
  color: #fff;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000, 1px 1px #000,
    -1px -1px #000, 1px -1px #000, -1px 1px #000;
  margin-top: 0.5rem;
}

.card img {
  display: block;
  position: sticky;
  right: 0%;
  width: 15rem;
  filter: drop-shadow(-5px 5px 0px #000);
  filter: saturate(200%);
}

.name {
  text-transform: capitalize;
  font-size: 2rem;
  margin: 0;
}

.pokemon-types {
  width: 100%;
  text-align: center;
}

div.button-container {
  display: flex;
  margin-bottom: 15px;
}

a.button {
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 15px;
  letter-spacing: 3px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #000;
  background-color: #ccc;
  border: none;
  border-radius: 15px;
  border: 1px solid #000;
  box-shadow: 0 5px #000;
}

a.button:hover {
  background-color: #fff;
}

a.button:active {
  box-shadow: 0 1px #444;
  transform: translateY(4px);
}
