.name {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  margin: 10px 0 0 0;
  color: #fff;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000, 1px 1px #000,
    -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.pokemon-types {
  width: 100%;
  text-align: center;
}

div.button-container {
  display: flex;
  margin-bottom: 15px;
}

a.button {
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 15px;
  letter-spacing: 3px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #000;
  background-color: #ccc;
  border: none;
  border-radius: 15px;
  border: 1px solid #000;
  box-shadow: 0 5px #000;
}

a.button:hover {
  background-color: #fff;
}

a.button:active {
  box-shadow: 0 1px #444;
  transform: translateY(4px);
}
