.paginated {
  display: flex;
  width: 100%;
  justify-content: center;
}

.page label {
  margin: 1rem 0.5rem;
  background-color: #333;
  font-size: 20px;
  display: flex;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000, 1px 1px #000,
    -1px -1px #000, 1px -1px #000, -1px 1px #000;
  box-shadow: 0 5px 0 #000;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.page label:hover {
  background-color: #ff9c46;
  cursor: pointer;
}

.radio:checked + label {
  box-shadow: 0 1px #000;
  transform: translateY(4px);
  background-color: #24a2c6;
}

.radio:active + label {
  box-shadow: 0 1px #000;
  transform: translateY(4px);
  background-color: #be7534;
}

.radio {
  display: none;
}
